<div class="inner">
  <div class="row" style="background-color: #f1f1f1;">
    <div class="col-sm-12 col-md-12 col-sm-12 col-xs-12">
      <h5 class="heads bt">CONTACT ME</h5>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="row" >
          <!--footer panel -->
        <div class=" col-sm-6 expertise-text mt20 pt20">
          <div class="panel panel-default"  >
            <div class="panel-body">
              <form >
                <div class="row form-group">
                  <div class="col-lg-6">
                    <input type="text" class="form-control panel-footer" placeholder="Name" name="name">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" class="form-control panel-footer" placeholder="E-mail" name="email">
                  </div>
                </div>
                <div class="form-group">
              
                  <input type="text" class="form-control panel-footer" placeholder="Subject" name="subject">
                </div>
                <div class="form-group" >
                  <textarea class="form-control panel-footer" rows="5" placeholder="Message" ></textarea>

                </div>
                
                <button type="submit" class="col-lg-12 btn panel-footer-buton">Send</button>
              </form>


            </div>
          </div>

        </div>
        <!--/footer panel -->
       

         <!--footer information -->
        <div class="col-sm-6 footer-information-text mt20 pt20  " >
          <h5 class="footer-head " >
            <b>Gamze Yapcı</b>
          </h5>
          <p>
            SOFTWARE ENGINEER</p>

            <h5 class="footer-information-text " >
                <b>phone:</b>
              </h5>
              <p>+90-542-827-11-38</p>

              <h5 class="footer-information-text">
                  <b>E-mail:</b>
                </h5>
                <p>gaamzee.yaapiici@gmail.com</p>
                <div class="col-sm-12  " style="  border-top: 1px solid rgba(24, 33, 83, 1);">
              
                        <div class="col-lg-12 col-md-12 col-sm-12 mt20   ">
                            <span class="footer-socialmedia">
                                <i class="fab fa-linkedin-in"></i>
                            </span>
                            <span class="footer-socialmedia">
                                <i class="fab fa-facebook-square"></i>
                            </span>
                            <span class="footer-socialmedia">
                                <i class="fab fa-twitter"></i>
                            </span>
                            <span class="footer-socialmedia">
                                <i class="fab fa-google-plus-g"></i>
                            </span>
                            <span class="footer-socialmedia">
                                <i class="fab fa-instagram"></i>
                            </span>
                        </div>
                    </div> 

                  </div>
        </div>
      
         <!--/footer information -->
      </div>
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>