/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  transition: all 0.4s ease-in-out;
}


@media (max-width: 575px) { 
  .experience-education-xs{

   
    text-align: left;
    color: rgba(24, 33, 83, 1);

    font: normal normal normal 15px/2.0em avenir-lt-w01_35-light1475496; 
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
 
  }
} 

/* @media (max-width: 575px) { 
  .nav-masthead{

    padding: 2.25rem 0 0.25rem 3px;
    font-weight: 100;
    color: rgba(24, 33, 83, 1);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
 
  }
}  */

.slayt-info-header{
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}



.slayt-info{
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  text-align: left;
}


.slayt-left{
  height:370px; 
  background-color:
 #f1f1f1;
  padding: 35px 0px 0px 55px;
  text-align: left;
}



/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: rgba(24, 33, 83, 1) !important;

}

.cover-container {
  max-width: 100%;
}

.mt20{
  margin-top: 20px;

}

.pt20{
  padding-top: 20px;
}
.pb20{
  padding-bottom: 20px;
}











/*
 * Header
 */
.masthead {
  margin-bottom: 4rem;
}

.masthead-brand {
  margin: 20px 0px -10px 20px;

}

.nav-masthead .nav-link {
  padding: 2.25rem 0 0.25rem 3px;
  font-weight: 100;
  color: rgba(24, 33, 83, 1);
  background-color: transparent;
  border-bottom: .25rem solid transparent;

  
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #AEB4D4;

}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(24, 33, 83, 1);
}

.first-paralax{
  background-image: url("../images/profile.jpg");
  background-size: cover;  
 
}

.second-paralax{
  background-image: url("../images/client.jpg");
  background-size: cover;  
 
}


.deneme-paralax{
  background-image: url("../images/deneme.jpg");
  background-size: cover;  
 
}
.heads{
  letter-spacing: 0.2em;
  font-weight: bold;
  border-bottom:1px solid rgb(224, 224, 224);
  height: 100px;
  padding-top: 40px;
}

.experience-education-text{
  line-height: 2.0em;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496; 
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  padding-left: 40px;
  text-align: right; 
  border-right: 1px solid rgba(24, 33, 83, 1);
}
.expertise-text{
  line-height: 2.0em;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496; 
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
}

.experience-education-head{
  font: normal normal normal 16px/1.4em avenir-lt-w01_35-light1475496; 
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.2em;
  line-height: 1.8em;
  margin-right: 30px;
}

.footer-information-text{
  line-height: 3.0em;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496; 
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  letter-spacing: 0.05em;
  text-align: left;

  color: rgba(24, 33, 83, 1);
  padding-left: 40px;


}

.footer-head{

    line-height: 1.8em;
    letter-spacing: 0.1em;
    font-size: 18px;   
    
 
    
}

.b{
  font-weight: bold;
}



.f-13{
line-height: 1.8em;
letter-spacing: 0.2em;
font-size: 13px;   
}

.f15{
  font-size: 15px;
}

/* .p-w-l{
  width: 400px;
  line-height: 1.8em;
} */
.panel-footer{
  border-color: #f1f1f1 !important;
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496; 
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
}
.panel-footer-buton{
  border-color: #f1f1f1 !important;
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496; 
  font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
  background-color: rgba(24, 33, 83, 1);
  color: #fff;

}

.left{
  float: left !important;
}



.bt{
  border-top:1px solid rgb(224, 224, 224);
}
.bb{
  border-top:1px solid rgba(24, 33, 83, 1);
}

.mb20{
  margin-bottom: 20px;
}

.mt30{
  margin-top: 30px;
}
.mb30{
  margin-bottom: 30px;
}

.pt40{
  padding-top: 40px;
}
.client-icons {
  font-size: 60px; 
  color: grey;
  padding: 60px;
}

.footer-socialmedia {
  font-size: 20px; 
  color: rgba(24, 33, 83, 1);
  padding: 10px;
  float: left;
 
}

.box{
  height: 70px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.15);
  
}


  




.profile-index{

  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496; 
  letter-spacing: 0.05em;
  text-align: left;
  background-color: #fff; 
  color: rgba(24, 33, 83, 1);
  padding-left: 60px;
}
.b{
  font-weight: bold;
}

.profile-image{
 background-image: url("../images/profile.jpg");
 
}
.background-image{
  background-image: url("../images/background.jpg");
 }

.color-white{
  color: #fff;
}

.paralax-bg{
  background-image: url("../images/background.jpg");
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  
}



.panel-footer-style{
  height:100px;
  width: 100%; 
  background-color: rgba(24, 33, 83, 1);
  padding-top:30px !important;
}


/**FadeInLeft-Animation */
 .fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 


  /**FadeInRight-Animation */
  .fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    }
    @keyframes fadeInRight {
    0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    }
    100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
    }
    } 




  .fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInUp {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  } 



  
  