<div class="inner">
    <h3 class="masthead-brand">Gamze Yapıcı</h3>
    <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link" ui-sref-active="active" ui-sref="home">EXPERIENCE</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="about">EDUCATION</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="contact">CLIENTS</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="contact">CLIENTS</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="contact">SKILLS</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="contact">EXPERTISE</a>
        <a class="nav-link" ui-sref-active="active" ui-sref="contact">CONTACT</a>
    </nav>
</div>